tcp:
  22: {{ namespace_gitea }}/gitea-ssh:22

controller:
  service:
    annotations:
      metallb.universe.tf/loadBalancerIPs: {{ ip_ingress }}
    ports:
      http: 80
      https: 443
      ssh: 22
    targetPorts:
      http: http
      https: https
      ssh: ssh
